<script setup lang="ts">
import { ref } from 'vue';

import { useMemberStore } from '@/stores/member';
import { useReceipetStore } from '@/stores/receipt';

const tel = ref('')
const memberStore = useMemberStore()
const receiptStore = useReceipetStore()

function onClick(){
    memberStore.searchMember(tel.value)
    receiptStore.calReceipt()
}
</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="6">
                <v-text-field
                v-model="tel"
                density="compact"
                variant="solo"
                label="Search templates"
                append-inner-icon="mdi-magnify"
                single-line
                hide-details
                @click:append-inner="onClick()"
                @keyup.enter="onClick()"
            ></v-text-field>
            </v-col>
            <v-col cols="6" class="pa-5 text-center">
                {{ memberStore.currentMember? memberStore.currentMember?.name : 'ไม่พบสมาชิก'}}
            </v-col>
        </v-row>
    </v-container>
</template>