<script setup lang="ts">
import { useReceipetStore } from '@/stores/receipt';

const receiptStore = useReceipetStore()
</script>

<template>
    <v-dialog
      v-model="receiptStore.receiptDialog"
      persistent
      width="auto"
    >
      <v-card>
        <v-card-title class="text-h5">Receipt</v-card-title>
          <v-card-text>
            {{ receiptStore.receipt }}
          </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="receiptStore.receiptDialog = false"
          >
            ยกเลิก
          </v-btn>
          <v-btn
            color="green-darken-1"
            variant="text"
            @click="() => {receiptStore.receiptDialog = false, receiptStore.clear()}"
          >
            ยืนยัน
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
</template>