<script setup lang="ts">
import { useReceipetStore } from '@/stores/receipt'

const receiptStore = useReceipetStore()
</script>

<template>
    <v-table>
         <thead>
            <tr><th>No.</th><th>name</th><th>price</th><th>unit</th><th>total</th><th></th></tr>
        </thead>
            <tbody>
            <tr v-for="(item, index) of receiptStore.receiptItems" :key="item.id">
                <th>{{ index + 1 }}</th>
                <th>{{ item.name }}</th>
                <th>{{ item.price }}</th>
                <th><v-btn icon="mdi-minus" density="compact" @click="receiptStore.Dec(item)"></v-btn>{{ item.unit }}<v-btn icon="mdi-plus" density="compact" @click="receiptStore.Inc(item)"></v-btn></th>
                <th>{{ item.price * item.unit}}</th>
                <th><v-btn icon="mdi-delete" density="compact" @click="receiptStore.removeReceiptItem(item)"></v-btn></th>
            </tr>
        </tbody>
    </v-table>
</template>